<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="https://www.desicomments.com/wp-content/uploads/2017/07/Congratulations-Nice-Image-600x272.png"
                alt="congratulations">
        </div>
        <br />
        <div class="col-md-12 text-center">
            <h1 class="text-success">Felicidades!</h1>
        </div>
        <br />
        <div class="col-md-12 text-center">
            <p>
                Estimado usuario ya se realiz贸 la verificaci贸n de tu correo electr贸nico y puedes ingresar en la
                applicaci贸n y disfrutar de ella.
            </p>
        </div>
        <br />
        <div class="col-md-12 text-center">
            <a href="http://" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Ingresar</a>
        </div>
    </div>
</div>